
body{}
#content{background-color:lightgreen;maring:0 2.3em;padding:2em;}
footer{padding:1em;}
footer, footer a, footer a:visited{background-color:black;color:white;text-align:center;}
footer a:hover{color:lightblue;}
footer p{margin-top:.9em;font-size: 1.5em;}
